# Visual Studio
.vs/
*.user
*.suo

# Compilação .NET
bin/
obj/

# Arquivos de configuração/local
*.userosscache
*.sln.docstates

# Rider
.idea/

# VS Code
.vscode/

# Sistema operacional
.DS_Store
Thumbs.db